.notes {
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.notes {
  :global .targetNote {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
  }
}

@media (max-width: 1000px) {
  .notes {
    width: 150px;
    height: 120px;
  }
}
